/* import fonts from fonts.css */
@import url(./fonts.css);



/* -------------Start Navigation --------- */
.header_area .main-menu .navbar .navbar-brand img{
    max-width: 120px ;
    max-height: 120px;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
 font-family: "Roboto" , cursive;
 font-weight: 500;
 padding: 1.8rem; 
 color: black;    
}

/* ----------End Navigation----------------  */